@font-face {
  font-family: Gazebo;
  src: url('../src/assets/Tipografías/Gazebo.otf');

}
@font-face {
  font-family: Gobold;
  src: url('../src/assets/Tipografías/GoboldExtra2.otf');

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body{
  
  font-family: Gazebo;
  background-color: #2F313A;
  width: 100%;
}
nav{
  
  margin-bottom: 20px;
}

.navTitle{
 align-items: center;
  text-align: center;
  columns: #2F313A;
  font-size: 500px

}
.navTitle h3{
  letter-spacing: 10px;
}


.navBurguer img{
  width:45px;
  background-color: #FBEBD3;
  border-radius:5px
}
.navEntradas{
  background-color: #FBEBD3;
  font-family: MangoGrotesque;
  color: #FF6700;
  border-radius: 20px;
  width: 10%;
  align-items: center; 
}
.navEntradas h2{
  font-size:90%;
  text-align: center;
  align-items: center;
  padding: 5px;
  margin-top: 5px;
  border-radius:5px;
  width: 100%;
}
.navContainer{
  display:flex;
  font-size: 1.5rem;
  gap: 0.5rem;
  padding:20px;
  justify-content: space-between;
  position:fixed;
  width:100%;
  top: 0;
    z-index: 1400;
}
.sectionList{
  align-items: center;
  text-align: center;
  
}
/* header */
.headerFestval{
  background: url('./assets/banner/referencia-fondo.png');
  width: 100%;
  height: 50rem;
  background-repeat: no-repeat;
  background-position: center;
}
.title{
  color: #2F313A;
  text-align: center;
  padding-top:11rem;
}
.title-heading{
font-size: 5.6rem;
line-height:1.07143;  
letter-spacing:-.005rem;
}

.title-sub-heading{
  font-size: 2.65rem;
  margin-top:.6rem;
  letter-spacing: .008rem;
  font-weight:400;
}
.cta{
  text-align:center;
  margin-top:2.5rem;
  display: flex;
  justify-content: center;
  gap: 2rem
}

.cta-link{
  color:#FFDCA6;
  font-size:1.5rem;
  display: inline-block;
  background-color: #FF6700;
  border-radius:10px
}
.cta-linkTwo{
  color:#FF6700;
  font-size:1.5rem;
  display: inline-block;
  background-color: #FFDCA6;
  border-radius:10px
}

.cta-link:nth-child(2){
  margin-left: 2.6rem; 
}

/*  header fin */
.list{
  background:#2F313A;
  padding: 1rem;
  
}
article .title{
  color:#FBEBD3;
  text-align: center;
  font-size: 5rem;
  font-family: Gazebo;
  
}
.list img {
  width: 90%;
  padding: 1rem;
}

article section .subtitle{
  color: #6FB1A0;
  font-size: 2rem;
  font-family: Gobold;
}

article section .playlist{
  color: #FBEBD3;
  font-size: 1rem;
  font-family: Gobold;
  margin-top:20px;
}
article section .spotyfy img{
width: 90px;
}

.artistas{
  text-align: center;
  background: black;
}
.entradas{
  background:#2F313A;
  text-align: center;
}
.boletas{
  color: #FFDCA6;
  display: flex;
  justify-content: center;
  gap: 4em;
  
}
.boletas h2{
  font-family: Gobold;
}
.containerMore{
  align-items: center;
  display: flex;
  justify-content: center;
}
 .more{
  color: #FF6700;
  background-color: #FFDCA6;
  border-radius: 20px;
  width: 80px;
  margin: 10px 10px ;
  font-family:Gobold;
  
}

.manifiesto{
  display: flex;
  
 
}
.manifiestoText{
  background-image: url(./assets/fondo_manifiesto.png);
  width: 100%;
  background-size:cover;
  
  
}
.manifiestoPhotos{
  width: 90%;
}
.manifiestoPhotos img{
 width: 100%;  
}
.topManifiesto{
  margin-top: -10rem;
  
}
.topManifiesto img{
 width: 100%;  
 
}
.cordillera{
  background-color: #005E43;
  margin-top: -25rem;
  width: 100%;
}

.cordilleraContainer p{
  font-family:Gobold;
}

.comunidad{
  background-color: #6FB1A0;
  margin-top:12rem
}
.comunidad h3,p{
  font-family:Gobold;
}
.banner{
  background-color: #2F313A
}

.footer{
  background-image: url('./assets/fondo_footer.png');
  background-size: cover;
  background-position: center;
  font-family: Gobold;
 
}
.opciones{
  display: flex;
  
  margin-bottom: 40rem;
  justify-content:center;
  gap:200px
}
.listas{
  margin-top:2rem;
}
footer ul{
  list-style: none;
}